@page "/"

<PageTitle>Index</PageTitle>

<h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:darkblue;">E-store</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
